.searchtag {
    background-color: hsl(180, 52%, 96%);
    border-radius: 2px;
    margin-right: 10px;
    color: hsl(180, 29%, 50%);
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    /* border: none; */
}

.searchtag:hover {
    background-color: hsl(179, 29%, 51%);
    color: white;
    cursor: pointer;
}